@model Guid
@{
    ViewData["Title"] = "Product Detail Page";
}

<div class="text-center">
    <h1 class="display-4">Detail page of product with id @Model</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed risus pretium quam vulputate dignissim. Semper eget duis at tellus at urna condimentum mattis pellentesque. Nam at lectus urna duis convallis convallis. Id nibh tortor id aliquet lectus proin. Netus et malesuada fames ac. Est placerat in egestas erat imperdiet sed euismod nisi porta. Diam vel quam elementum pulvinar etiam non. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Elementum nisi quis eleifend quam adipiscing. Pharetra sit amet aliquam id diam maecenas ultricies mi. Et pharetra pharetra massa massa ultricies. Quis risus sed vulputate odio ut enim blandit volutpat.
    </p>
</div>
