@model Route98.Web.ViewModels.ProductOverviewViewModel

<div class="text-center">
    <h1 class="display-4">Products of category *@Model.CategoryCode*</h1>
    <p>
        TODO: Display *@Model.ProductsPerPage* products per page
    </p>
</div>
