/BethanysPieShop/.vs/
/BethanysPieShop/BethanysPieShop/bin/
/BethanysPieShop/BethanysPieShop/obj/
/BethanysPieShop/BethanysPieShop/BethanysPieShop.csproj/
/BethanysPieShop/BethanysPieShop/BethanysPieShop.csproj.user/
/MvcMovie/.vs/
/MvcMovie/MvcMovie/bin/
/MvcMovie/MvcMovie/obj/
/MvcMovie/MvcMovie/MvcMovie.csproj/
/MvcMovie/MvcMovie/MvcMovie.csproj.user/