BethanysPieShop/.vs/
BethanysPieShop/BethanysPieShop/obj/
BethanysPieShop/BethanysPieShop/bin/
BethanysPieShop/BethanysPieShop/BethanysPieShop.csproj/
BethanysPieShop/BethanysPieShop/BethanysPieShop.csproj.user/