/BethanysPieShop/.vs/
/BethanysPieShop/BethanysPieShop/bin/
/BethanysPieShop/BethanysPieShop/obj/
/BethanysPieShop/BethanysPieShop/BethanysPieShop.csproj/
/BethanysPieShop/BethanysPieShop/BethanysPieShop.csproj.user/