@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <ul class="list-group">
        <li class="list-group-item">TODO: show student enrollment info. E.g.: </li>
        <li class="list-group-item">Firstname Lastname - CourseTitle (Grade)</li>
    </ul>
</div>
