@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a>Go to product detail with id 04efde7c-5274-424f-a27d-e64b3367d43d</a>
        </li>
        <li class="list-group-item">
            <a>Products of Pets category (5 products per page)</a>
        </li>
    </ul>
</div>